asgiref==3.7.2
click==8.1.7
Django==4.2.7
mypy-extensions==1.0.0
ordered-set==4.1.0
packaging==23.2
pathspec==0.11.2
platformdirs==3.11.0
psycopg2-binary==2.9.9
python-dotenv==1.0.0
sqlparse==0.4.4
tomli==2.0.1
typing_extensions==4.8.0
