{% load static %}
{% url 'test-app:index' as index_url %}
{% url 'users:login' as login_url %}
{% url 'users:logout' as logout_url %}
{% url 'users:signup' as signup_url %}
{% with request.path as current_url %}
    <div class="container">
        <header class="d-flex justify-content-between align-items-center mb-4 py-3 border-bottom">
            <img style="object-fit:scale-down;
                        width:75px;
                        height:auto"
                 src="{% static 'images/logo.jpg' %}">
            <ul class="nav nav-pills">
                {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a href={{ index_url }} class="nav-link {% if current_url == index_url %}active{% endif %}" aria-current="page">All tests</a>
                    </li>
                {% endif %}
            </ul>
            <ul class="nav nav-pills">
                {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a href={{ logout_url }} class="nav-link bg-secondary text-light">Sign out</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href={{ login_url }} class="nav-link {% if current_url == login_url %}active{% endif %}">Sign in</a>
                    </li>
                    <li class="nav-item">
                        <a href={{ signup_url }} class="nav-link {% if current_url == signup_url %}active{% endif %}">Sign up</a>
                    </li>
                {% endif %}
            </ul>
        </header>
    </div>
{% endwith %}
